<mat-button-toggle-group aria-label="Time Period" [value]="selectedTimePeriod" (change)="updateTimeData($event.value)">
    <mat-button-toggle *ngFor="let time of timePeriodEnumArray" [value]="time">{{"Past " + time}}</mat-button-toggle>
</mat-button-toggle-group>

<mat-slide-toggle [checked]="selectedEvaluation" (change)="updateEvaluationToggleData($event.checked)">Evaluated</mat-slide-toggle>

<mat-button-toggle-group aria-label="Divisions" [formControl]="divisionFormControl" (change)="updateDivisionsData()" multiple>
    <mat-button-toggle *ngFor="let division of divisions" [value]="division">{{division.division}}</mat-button-toggle>
</mat-button-toggle-group>

<br/>

<button mat-button [disabled]="selected.length == 0" (click)="updateEvaluationData()" >{{ "Mark as " + (selectedEvaluation? "not ": "") + "Evaluated" }}</button>
<button mat-button [disabled]="selected.length == 0" (click)="deleteQuestions()">Delete Questions</button>

<app-table
    [displayedColumns]="displayedColumns"
    [displayedColumnsHeaders]="displayedColumnsHeaders"
    [dataSource]="dataSource"
    [totalLength]="totalLength"
    [pageSizeOptions]="pageSizeOptions"
    [isCheckbox]="isCheckbox"
    [clearSelect]="clearSelect.asObservable()"
    (pageUpdateEvent)="pageUpdateEvent($event)"
    (selectionEvent)="selectionEvent($event)">
</app-table>
